<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="UTF-8">
    <title>Sveiki</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="src/css/CSS.css">

    <script src="src/js/angular.min.js" type="application/javascript"></script>
    <script src="src/js/DeividasP.js"></script>


<body background="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTrRxLun5ylfgZHOg-BzdzZ8JBhtUQoZ4fgkk4B5UoUNL6vz5fP">

<div class="dp" ng-controller="DeividasPetkevicius as dp">
    http://shushi168.com/data/out/114/37353480-image.png
    <div>

        <body background-color="olivedrab">
        <h2 class="sveikimanodraugai">Sveiki mano draugai {{dp.kintamasis}}</h2>
        <hr>

        </body>
        <span ng-bind="dp.vardas">xzcxcfvfdsfed fdv</span>

    </div>
    <div class="row">

        <div class="col-md-4" ng-show="dp.par1">Lorem ipsum - tai fiktyvus tekstas naudojamas spaudos ir grafinio dizaino pasaulyje jau nuo XVI a. pradžios. Lorem Ipsum tapo standartiniu fiktyviu tekstu, kai nežinomas spaustuvininkas atsitiktine tvarka išdėliojo raides atspaudų prese ir tokiu būdu sukūrė raidžių egzempliorių. Šis tekstas išliko beveik nepasikeitęs ne tik penkis amžius, bet ir įžengė i kopiuterinio grafinio dizaino laikus. Jis išpopuliarėjo XX a. šeštajame dešimtmetyje, kai buvo išleisti Letraset lapai su Lorem Ipsum ištraukomis, o vėliau -leidybinė sistema AldusPageMaker, kurioje buvo ir Lorem Ipsum versija.</div>
        <div class="col-md-4">Jau seniai žinoma, kad vertinant dizainą ir kompoziciją, blaško skaitomas tekstas. Tad Lorem Ipsum naudojamas tam, kad daugiau ar mažiau normalizuotų raidžių paskirstymą vietoje paprasto dubliavimo: „Tekstas tekstas tekstas tekstas...“. Daugelis leidybinių sistemų programų, o taip pat ir Hiperteksto kalbos redaktoriai naudoja Lorem Ipsum kaip demonstracinę numatyto teksto versiją, todel žodžių „Lorem Ipsum“ internetinė paieška parodo daug tinklalapių kurie yra dar besikuriantys. Egzistuoja ne mažai įvairių Lorem Ipsum versijų. Kai kurios iš jų buvo sukurtos per klaidą, kitos - tyčia (pvz. jumoristinės).</div>

        <p class="col=xs-12 col-sm-12 col-md-4">


         <button id="spleti" ng-click="dp.par1=!dp.par1">HIDE</button>
        </p>
        <ul>
            <li ng-repeat="daiktas in dp.masyvas">(())</li>
        </ul>

        <div class="col-md-4">Yra daug įvarių Lorem Ipsum variantų, bet daugelis jų buvo vienokiu ar kitokiu būdu modifikuoti, pvz. jumoristiniai intarpai arba žodžiai, nė kiek nepanasūs i lotynų kalbą. Jeigu Jums reikia Lorem Ipsum teksto rimtam projektui, Jūs tikriausiai nenorėtumėte viduryje eilutės kokio nors trikdančio išsireiškimo. Visi kiti Lorem Ipsum teksto eilučių generatoriai dažniausiai tik kartoja tą patį tekstą, kol užpildo reikiamus tarpus. Todėl čia siūlomas teksto eilučių generatorius yra vienintelis tikras Lorem Ipsum teksto generatorius. Jame naudojamas žodynas iš daugiau nei 200 lotynų kalbos žodžių, o taip pat keletas ištisų sakinių modelių. Taip surinktas Lorem Ipsum teksto variantas atrodo tikroviškai, nesikartoja, ir jame nėra „neįmanomų“ žodžių.</div>

        <p class="paveiksliukasstulpelyje"><img id="row1" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSeuQFZkLX4qLnSWvHMSWc-p7IwQWmUqraB900GKQkLWcc51bwDQHEXOw" alt="Absoliutus paveikslėlio adresas"></p>
        <form action="/servlet" method="post" class="kazkas">
            Vardas:{{dp.VARDAS}}<br>
            <input NG-MODEL="dp.VARDAS" type="text" id = "vardas" name="vardas" value=""><br>
            Pavarde:{{dp.PAVARDE}}<br>
            <input NG-MODEL="dp.PAVARDE" type="text" name="pavarde" value=""><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>



    <!--<a href="http://www.google.com">Guglo linkas</a>-->


    <h1 class="sell" style="background-color:red">
        Čia nežiūrėk, nes čia Selas
    </h1>


    <strong class="puslapisisyoutube"> - Puslapis iš youtube
        <iframe height="300px" width="100%" src="https://www.youtube.com/embed/lHQs0gS4Pfk" name="Sell"></iframe>

        <p class="kodingschool"><a href="http://www.kaunascoding.lt/" target="iframe_a">Kaunas Coding</a></p>

        <ul>
            <li><a href="Home" title="">Pradzia</a></li>
            <li><a href="AgneAmbrasaite.html" title="">Agne</a></li>
            <li><a href="Arnas.html" title="">Arnas</a></li>
            <li><a href="ArnasJ.html" title="">ArnasJ</a></li>
            <li><a href="justas.html" title="">Justas</a></li>
            <li><a href="LukasGudonis.html" title="">Lukas</a></li>
            <li><a href="zygis.html" title="">Zygimantas</a></li>
        </ul>

        <!--  <form action="http://autoplius.lt">
              <select name="cars">
                  <option value="volvo">Volvo</option>
                  <option value="BMW">BMW</option>
                  <option value="fiat">Fiat</option>
                  <option value="audi">Audi</option>
              </select>
              <br><br>
              <input type="submit">
          </form>-->


        <!-- Latest compiled and minified JavaScript -->
        <script
                src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script>
            $('#row1').click(function(){
                alert("labas");
            });
        </script>
</div>
    </body>

</html>