<!DOCTYPE html>
<html ng-app="musuAplikacija">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pirmas puslapis</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="src/css/main.css"/>
    <link rel="stylesheet" href="src/css/tautvydas.css" type="text/css"/>

</head>
<body ng-cloak>

<div ng-contoller="TautvydasDulskisController as tdc">
    <nav>
        {{tdc.meniuMasyvas}}
        <ul class="meniu">
            <li ng-repeat="item in tdc.meniuMasyvas">
                <a href="{{item.url}}" title="">{{item.title}}</a>
            </li>
        </ul>
        <div ng-repeat="item in tdc.meniuMasyvas">{{item.name}}</div>
    </nav>

    <div class="tautv container">
        <h1>Puslapis <span ng-bind="tdc.txt.vardas">asdfl;'dgjg</span></h1>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="#" class="thumbnail">
                            <img src="src/img/google-logo-1200x630.jpg"
                                 id="foto"
                                 alt="G logo"
                                 class="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-offset-3">
                <div class="row row1">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <button id="slepti" ng-click="tdc.par1=!tdc.par1">Toggle form</button>
                        <form action="/servlet" method="post" ng-show="tdc.par1">
                            Vardas: {{tdc.vardas}}<br>
                            <input ng-model="tdc.vardas" type="text" id="vardas" name="vardas" value=""><br>
                            Pavarde: {{tdc.pavarde}}<br>
                            <input ng-bind="tdc.vardas" type="text" name="pavarde" value=""><br><br>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <ul>
                            <li ng-repeat="daiktas in tdc.masyvas">{{daiktas}}</li>
                        </ul>
                        Anisi sit amet pretium. Vivamus auctor orci quis neque gravida lobortis. Quisque varius libero ex,
                        vitae volutpat
                        magna tristique et. Nam sit amet malesuada ante. Quisque dignissim, nisi eu convallis pharetra, nunc
                        tellus
                        rutrum
                        augue, nec tristique felis mi dignissim justo. Fusce et est orci.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <p>
                    Quisque in augue nec sapien dictum pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et
                    ultrices
                    posuere cubilia Curae; In suscipit egestas libero. Fusce sit amet porta mauris, ornare auctor magna.
                    Etiam
                    ac
                    libero
                    at ex varius condimentum sed sed eros. Phasellus lobortis nisi quis enim vestibulum pharetra sed
                    eget
                    neque.
                    Nulla
                    tempus lacus nec est fermentum, sit amet porta ante hendrerit. Ut vestibulum, ex lacinia suscipit
                    iaculis,
                    mauris
                    eros dictum urna, eu feugiat ante arcu ut sem. Donec elementum est sed metus pretium lobortis.
                    Vestibulum ut
                    odio et
                    elit interdum consequat. Aliquam turpis est, semper vitae elit laoreet, lobortis gravida arcu. Morbi
                    eget
                    condimentum nisi, eu tempus libero. Vivamus arcu lectus, consectetur quis iaculis quis, rhoncus eget
                    lorem.
                    Etiam
                    laoreet libero at enim semper pretium. Donec ut velit tincidunt, feugiat velit id, consectetur ante.
                </p>
            </div>
            <div class="col-xs-12 col-md-6">
                <p>
                    Morbi vel tortor eget lectus ullamcorper molestie. Curabitur urna velit, sagittis at imperdiet nec,
                    vulputate
                    non
                    lacus. Aliquam congue convallis lorem, at varius neque convallis non. Ut in pretium sem. Phasellus
                    consequat
                    blandit
                    tortor, in dictum tortor molestie in. Aenean vitae malesuada velit, eu tincidunt nibh. Morbi turpis
                    urna,
                    gravida
                    non lobortis sed, rutrum a dui. Vivamus vehicula lorem sapien, vel pharetra lacus varius id. Ut
                    congue,
                    elit
                    sed
                    consectetur venenatis, odio justo ornare eros, eu dignissim mi justo ut urna. Integer viverra, ante
                    et
                    blandit
                    egestas, odio ipsum eleifend mi, ac tincidunt velit nisi in ipsum.
                </p>

            </div>
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <iframe src="http://www.kaunascoding.lt" class="freimas"></iframe>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="wraper">
                    <div class="left_side">
                        Kaire puse<br/>
                        Kaire puse<br/>
                        Kaire puse<br/>
                        Kaire puse<br/>
                        <div class="test">...................</div>
                    </div>
                    <div class="right_side">
                        Desine puse
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    Mano modalas...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="container">
            <p class="text-muted">Place sticky footer content here.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script>
        //    $('.row1').click(function(){
        //        $('#myModal').modal('toggle');
        //        $('#vardas').val('Tautvydas');
        ////        $(this).css('display','none');
        //    });
    </script>

</div>


<script src="src/js/angular.min.js" type="application/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

<script src="src/js/main.js"></script>
</body>
</html>