
<div class="pagrindinisZK" ng-controller="ZygimantasKatkevicius as zk">

    <nav>
        <ul>
            <li><a href="index.html" title="">PRADZIA</a></li>
            <li><a href="AgneAmbrasaite.html" title="">Agne</a></li>
            <li><a href="Arnas.html" title="">Arnas</a></li>
            <li><a href="ArnasJ.html" title="">ArnasJ</a></li>
            <li><a href="DeividasPetkevicius.html" title="">DeividasP2</a></li>
            <li><a href="justas.html" title="">Justas</a></li>
            <li><a href="LukasGudonis.html" title="">Lukas</a></li>
            <li><a href="zygis.html" title="">Zygimantas</a></li>
        </ul>
    </nav>

    <h1 title="Cia yra 'h1' tag'as">Kas kaip moka, tas taip koduoja {{zk.kintamasis}}</h1>
    <span ng-bind="zk.vardas">fvfdvdfvfv</span>
    <div class="paragrafas">
        <div class="row">
            <div class="col-xs-12">
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                    born
                    and I
                    will
                    give you a complete account of the system, and expound the actual teachings of the great explorer of
                    the
                    truth,
                    the master-builder of human happiness.</p>
            </div>
        </div>


        <ul>
            <li ng-repeat="dalykas in zk.masyvas">{{dalykas}}</li>
        </ul>


        <button id="slepti" ng-click="zk.par=true">HIDE</button>


        <p ng-hide="zk.par">
        No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do
        not
        know
        how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is
        there
        anyone
        who loves or pursues or desires to obtain pain of itself, because it is pain, but because
        occasionally
        circumstances occur in which toil and pain can procure him some great pleasure.</p>

        <p>To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain
            some
            advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure
            that
            has
            no
            annoying consequences, or one who avoids a pain that produces no resultant pleasure? On the other
            hand,
            we
            denounce with righteous indignation and dislike men who are so beguiled and demoralized by the
            charms of
            pleasure of the moment, so blinded by desire, that they cannot foresee </p>
        <a class="w3" href="http://www.w3schools.com/" target="_blank">Nuoroda i W3</a>
    </div>


    <hr/>

    <div class="second">
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <div class="one">

                    <div class="imegas"><img
                            src="https://www.iab.com/wp-content/uploads/2016/03/html5-advertising-platform-showcase-2-1024x1020.jpg"
                            alt="html5"/>


                        <p>The European languages are members of the same family. Their separate existence is a myth.
                            For
                            science,
                            music, sport, etc, Europe uses the same vocabulary. The languages only differ in their
                            grammar,
                            their
                            pronunciation and their most common words. Everyone realizes why a new common language would
                            be
                            desirable: one could refuse to pay expensive translators. To achieve this, it would be
                            necessary to
                            have
                            uniform grammar, pronunciation and more common words. If several languages coalesce, the
                            grammar of
                            the
                            resulting language is more simple and regular than that of the individual languages. </p>

                    </div>
                </div>
            </div>


            <div class="col-md-6 col-xs-6">
                <div class="two">
                    <div class="imegas"><img src="https://i.ytimg.com/vi/XrH7GTDB8zM/maxresdefault.jpg" alt="css3"/>
                        <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his
                            bed
                            into a
                            horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could
                            see his
                            brown belly, slightly domed and divided by arches into stiff sections. The bedding was
                            hardly able
                            to
                            cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared
                            with the
                            size
                            of the rest of him, waved about helplessly as he looked. "What's happened to me?" he
                            thought.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr/>


    <div class="form">

        <h5>Ar noretumete uzpildyti forma?</h5>

        <form class="question">
            <input type="radio" name="select" , value="taip" checked>Taip!<br/>
            <input type="radio" name="select" , value="zinoma" checked>O kaip gi kitaip?<br/>
            <input type="radio" name="select" , value="pasirinkimas" checked>Neturiu kito pasirinkimo..<br/>
            <input type="radio" name="select" , value="klausimas" checked>Galima nepildyti?<br/>
            <input type="radio" name="select" , value="UX" checked>Kas tas ux?<br/>
        </form>

        <form action="/servlet" method="post" class="vardasPavarde">
            Vardas:{{zk.vardas}}<br/>
            <input ng-model="zk.vardas" type="text" id="vardas" name="vardas" value=""><br>
            Pavarde:{{zk.pavarde}}<br/>
            <input ng-model="zk.pavarde" type="text" name="pavarde" value=""><br>
            <input type="submit" value="Submit" id="but">
        </form>


        <form class="text-area">
                    <textarea id="pakeist" name="about me" rows="10" cols="50"
                              placeholder="Trumpai papasakokite apie save"></textarea>
            <input class="button" type="submit" value="Čia aš">
        </form>


    </div>

    <hr/>

    <div class="grido_bandymas">
        <h2 class="headagain">Nedidelis headline'as</h2>
        <div class="row">
            <div class="col-md-4">
                <img src="https://academy.zenva.com/wp-content/uploads/2014/08/Bootstrap-3.jpg" alt="bootstrap"
                     id="foto"/>

                <p>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced
                    by fox
                    whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymphs grab
                    quick-jived waltz. Brick quiz whangs jumpy veldt fox. Bright vixens jump; dozy fowl quack. Quick
                    wafting
                    zephyrs vex bold Jim. Quick zephyrs blow, vexing daft Jim. Sex-charged fop blew my junk TV quiz. How
                    quickly
                    daft jumping zebras vex.</p>
            </div>

            <div class="col-md-4">
                <button type="button" class="btn btn-primary btn-lg btn-block" id="mygtukas">Kas įvyks paspaudus šį
                    mygtuką?
                </button>


                <div ng-view></div>


                <p>Two driven jocks help fax my big quiz. Quick, Baz, get my woven flax jodhpurs! "Now fax quiz Jack! "
                    my
                    brave ghost pled. Five quacking zephyrs jolt my wax bed. Flummoxed by job, kvetching W. zaps Iraq.
                    Cozy
                    sphinx waves quart jug of bad milk. A very bad quack might jinx zippy fowls. Few quips galvanized
                    the mock
                    jury box. Quick brown dogs jump over the lazy fox. The jay, pig, fox, zebra, and my wolves quack!
                    Blowzy red
                    vixens fight for a quick jump.</p>
            </div>

            <div class="col-md-4">
                <p> Joaquin Phoenix was gazed by MTV for luck. A wizard’s job is to vex chumps quickly in fog. Watch
                    "Jeopardy!
                    ", Alex Trebek's fun TV quiz game. Woven silk pyjamas exchanged for blue quartz. Brawny gods just
                    flocked up
                    to quiz and vex him. Adjusting quiver and bow, Zompyc[1] killed the fox. My faxed joke won a pager
                    in the
                    cable TV quiz show. Amazingly few discotheques provide jukeboxes. My girl wove six dozen plaid
                    jackets
                    before she quit. Six big devils from Japan quickly forgot how to waltz. Big July earthquakes
                    confound zany
                    experimental vow. Foxy parsons quiz and cajole the lovably dim wiki-girl. Have a pick: twenty six
                    letters -
                    no forcing a jumbled quiz! Crazy Fredericka bought many very exquisite opal jewels. Sixty zippers
                    were
                    quickly picked from the woven jute bag.</p>
            </div>

            <div class="col-md-12">
                <a href="https://www.youtube.com/" type="button" target="blank"
                   class="btn btn-default btn-lg btn-block">Išeiti</a>
            </div>

        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


    <script>
        $('#foto').click(function () {
//        alert('KAS IVYKO?!?!');
            $('#pakeist').val('NIEKO NEBELIKO');
        });


        $('#mygtukas').click(function () {
            alert('VISISKAI NIEKO!');
        });


    </script>


</div>


</body>
</html>