body {
    background-color: beige;
}

.mywrapper {
    margin: 75px 100px 10px 100px;
}

h1 {
    font-family: "Segoe UI";
    color: #7a7a7a;
    font-weight: normal;
    text-align: center;
}

p {
    margin-left: 5%;
    margin-right: 5%;
    font-family: "Segoe UI";
    color: #690f0f;
    font-size: larger;
    text-align: justify;
}

.footer {
    text-align: center;
    background-color: #7a7a7a;

}

.myLogin {
    float: right;
    padding-bottom: 0px;
}

.myLogin:hover {
    background-color: transparent;
}

.login1 {
    max-height: 30px;
}
.backcolor{
    background-color: #9c9c9c;
}