body {
    background-color: #F1FF99;
    font-family: 'courier';
    color: #FFFFFF;
    heigth: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.heading {
    text-align:center;
}
h1 {
    text-align:right;
    color: #339103;
}
.heading1{
    text-align:center;
    color: black;
}
p {
    font-family: 'Baskerville';
    color: #000000;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 200px;
    margin-right: 200px;
    margin-left: 200px;
}
.lektuvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:300px;
    height:250px;
    border:20px white;
}
.link{
    text-decoration: none;
    font-family: 'Times New Roman';
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 200px;
    margin-right: 20px;
    margin-left: 20px;
    transition: font-family 1s, color 1s;


}
.link:hover{
    text-decoration: none;
    font-family: 'Baskerville';
    color: red;
}
ul {
    list-style: none;
    background-color: #003345;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 36px;
    position: fixed;
    top: 0;
    box-shadow: 0 0 15px 5px black;
}

li {
    float: left;
    padding: 10px;
}

li:hover {
    background-color: #3485ff;
}

li a {
    text-decoration: none;
    color: white;
}

.wraper {
    margin: 50px 10px 100px;
}
.main{
    padding-top: 20px;
}