body {
    background: #F1FF99;
}
h1{
    font-size: 200px;
    text-align: center;
    font-family: Courier;
    font-family: 'Bungee Outline', cursive;

}
.headingbackground {
    height: 950px;
    color: #FFFFFF;
    margin-top: 30px;
    width: 100%;
    background:url(https://phlow.github.io/feeling-responsive/images/unsplash_brooklyn-bridge_header.jpg) no-repeat;


}
.heading1 {
    text-align: center;
    color: black;
}
p {
    font-family: 'Baskerville';
    color: #000000;
}
.lektuvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 250px;
    border: 20px white;
}
.link {
    text-decoration: none;
    font-family: 'Times New Roman';
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 200px;
    margin-right: 20px;
    margin-left: 20px;
    transition: font-family 1s, color 1s;
}
.link:hover {
    text-decoration: none;
    font-family: 'Baskerville';
    color: red;
}
li:hover {
    background-color: #3990ff;
}
li a {
    text-decoration: none;
    color: white;
}
.main {
    padding-top: 20px;
}
.selection {
    margin-bottom: 100px;
    margin-top: 1px;
}
.desine {
    float: right;
    height: 120px;
}
.test {
    float: right;
    height: 50px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 40px;
}
.row {
    padding: 35px;
}
.btn-group {
    padding: 50px;
}
footer {
    margin-top: 30px;
    padding: 50px;
}
ul{
    z-index: 5;
}