body {
    background-color: darkorange;
    padding: 2%;
    margin: auto;
}

h1 {
    color: snow;
}

p {
    color: cornsilk;

}

h2 {
    font-family: Verdana;
    font-style: italic;
}

bdo {
    font-size: 150%;
    font-style: oblique;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;

    text-decoration: none;
    color: initial;
}

.left_side, .right_side {
    float: left;
    width: 50%;

}

.left_side {
    background-color: darkkhaki;
}

.right_side {
    background-color: darkslategrey;
}

input[type=text] {
    border: 2px solid red;
    border-radius: 4px;

}

input[type=text]:focus {
    background-color: orangered;
}
input[type=submit] {
    background-color: ButtonShadow;
    border: none;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}