body {
    background-color: darkorange;
    padding: 2%;
    margin: auto;
}

h1 {
    color: snow;
    align-content: space-around;
}

p {
    color: cornsilk;

}

h2 {
    font-family: Verdana;
    font-style: italic;
}

bdo {
    font-size: 150%;
    font-style: inherit;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;

    text-decoration: none;
    color: initial;
}

input[type=text] {
    border: 2px solid black;
    border-radius: 4px;

}

input[type=text]:focus {
    background-color: wheat;
}

input[type=submit] {
    background-color: ButtonShadow;
    border: none;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
