body {
    background-color: powderblue;
}

nav ul {
    list-style: none;
    background-color: #003345;
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 36px;
    position: fixed;
    top: 0;
    box-shadow: 0 0 15px 5px black;
    z-index: 1;
}

nav li {
    float: left;
    padding: 10px;
}

nav li:hover {
    background-color: #3485ff;
}

nav li a {
    text-decoration: none;
    color: white;
}
